/* 色票 
primany #AA0601
primany light rgba(170, 6, 1, 0.05)
primany dark #650300
*/

*,*::before,*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: bold;
    font-family: 'roboto';
}

@media  (max-width: 375px) {
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.5;
    }       
}

.container {
    max-width: 1224px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
}

@media (max-width:375px) {
    .container {
        max-width: 375px;
    }
}


.nav {
    height: 108px;
    background-color: #aa0601;
    padding: 0 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu a{
    color: #fff;
    text-decoration: none;
}

.menu li {
    padding-right: 64px;
    font-size: 20px;
}

@media (max-width: 375px) {
    .nav {
        height: 50px;
    }
    .logo {
        width: 48px;
        margin: 0 auto;
    }
    .menu {
        display: none;
    }  
}


.banner {
    height: 840px;
    background-image: url(img/banner.png);
}

.header-title {
    text-align: right;
}

.header-title h1 {
    font-size: 36px;
    color: #650300
}

.header-title h2 {
    font-size: 64px;
    color: #650300
}

@media (max-width: 375px) {
    .banner {
        height: 394px;
        background-image: url(/img/banner-sm.png);
    }
    .header-title h1 {
        font-size: 1rem;
        font-weight: medium;
    }
    .header-title h2 {
        font-size: 2rem;
        font-weight: medium;
    }
}

.promise {
    background-color:rgba(170, 6, 1, 0.05);
}

.h3-dark {
    font-size: 48px;
    color: #650300;
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 3.75rem;
}

.promiseList {
    text-align: left;
    width: 23.5%;
    padding: 16px 0px 24px 0px;
}

.promiseList:nth-child(4) {
    padding: 32px 0px 24px 0px;
}

.promiseList:nth-child(3) {
    padding: 20px 0px 24px 0px;
}

.promiseList img{
    /* max-width: 100%; */
    margin-bottom: 40px;
}

.promiseList:nth-child(3) img{
    margin-bottom: 42.01px;
}

.promiseList:nth-child(4) img{
    margin-bottom: 54.01px;
}

.promiseList h4 {
    font-size: 24px;
    color: #650300;
    margin-bottom: 4px;
}

.promiseList p {
    width: 73.76%;
}

@media (max-width: 375px) {
    .h3-dark {
        font-size: 1.5rem;
        color: #650300;
        text-align: center;
        padding-top: 2rem;
        margin-bottom: 2rem;
    }
    .promise ul {
        flex-direction: column;
    }
    .promiseList {
        width: 100%;
    }
    .promiseList:nth-child(1) {
        padding: 0px 0px 24px 0px;
    }
    .promiseList img{
        margin-bottom: 1rem;
    }
    .promiseList:nth-child(3) img{
        margin-bottom: 15.62px;
    }
    .promiseList:nth-child(4) img{
        margin-bottom: 27.01px;
    }
    .promise {
        padding-bottom: 3.5rem;
    }
}




.product-left img{
    margin-right: 1.5rem;
}

.product-left .icon {
    margin-right: 0.5rem;
}

.grayProduct {
    margin-left: 1.5rem;
    filter: grayscale(100%);
}

.grayProduct:hover {
    filter: grayscale(0%);
}

.product-right {
    margin:2rem 0
}

.product-right .icon {
    margin-right: 0.5rem;
}

.classicList {
    margin-bottom: 5rem;
    font-family: 'roboto';
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    color: #AA0601;
}


@media (max-width: 375px) {
    .product-right {
        margin:0.5rem 0
    }
    .product-left, .product-right {
        width: 100%;
        position: relative;
    }
    .optical, .functional, .sunglasses {
        position: absolute;
        content: '';
        left: 50%;
        transform: translate(-50%);
    }
    .sunglasses {
        flex-direction: row-reverse;
    }
    .classicList {
        margin-bottom: 1.5rem;
        font-family: 'roboto';
        font-size: 1.75rem;
        font-weight: bold;
        font-style: italic;
        color: #fff;
    }
    .classicList .icon {
        filter: brightness(500);
    }
}

.design {
    height: 2162px;
    background-image: url(img/bg.png);
}

.h3-white {
    font-size: 48px;
    color: #fff;
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 3.75rem;
}

.h3-white-rec {
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin-bottom: 3.75rem;
}

.designGallery {
    margin-right: -170px;
    margin-left: -170px;
    margin-bottom: 3.75em;
}

.gallery-left {
    height: 840px;
    background-image: url(img/product-4.png);
    flex-grow: 3.75;
    margin-right: 0.5em;
}

.gallery-right {
    flex-grow: 6.25;
}

.product-5 {
    height: 454px;
    background-image: url(img/product-5.png);
    margin-bottom: 0.5em;
}

.product-6 {
    height: 378px;
    background-image: url(img/product-6.png);
    flex-grow: 13.78;
    margin-right: 0.5em;
}

.galleryMore{
    flex-grow: 86.22;
}

.product-7 {
    height: 203px;
    background-image: url(img/product-7.png);
    margin-bottom: 0.5em;
}

.product-8 {
    height: 167px;
    background: url(img/more.png) no-repeat;
    background-position: 85%;
    position: relative;
}

.more {
    width: 315px;
    height: 105px;
    background-color: #fff;
    position: absolute;
    content: '';
    right: 0px;    
}

.more span{
    font-size: 72px;
    color: #AA0601;
    font-family: 'roboto';
    font-weight: bold;
    margin-right: 17px;
}

.more a{
    text-decoration: none;
    display: block;
}

.doubleA-youth {
    display: flex;
    justify-content: space-between;
}

.doubleA {
    width: 585px;
    height: 592px;
    background-image: url(img/product-8.png);
    font-family: 'roboto';
    font-weight: bold;
    font-size: 72px;
    color: #AA0601;
}

.youth {
    width: 585px;
    height: 592px;
    background-image: url(img/product-9.png);
    font-family: 'roboto';
    font-weight: bold;
    font-size: 72px;
    color: #AA0601;  
}

@media (max-width: 375px) {
    .h3-white {
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        padding-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .design {
        height: 1096px;
    }
    .designGallery {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
        padding: 0 12px;
    }
    .gallery-left {
        height: 226px;
        background-image: url(img/product-4.png);
        flex-grow: 48;
        margin-right: 0.125em;
    }
    .gallery-right {
        flex-grow: 52;
    }
    .product-5 {
        height: 81px;
        background-image: url(img/product-5.png);
        margin-bottom: 0.125em;
    }
    .product-6 {
        height: 143px;
        background-image: url(img/product-6.png);
        flex-grow: 13.78;
        margin-right: 0.125em;
    }
    .galleryMore{
        flex-grow: 86.22;
    }
    .product-7 {
        height: 42px;
        background-image: url(img/product-7.png);
        margin-bottom: 0.125em;
    }
    .product-8 {
        height: 99px;
        background: url(img/more.png) no-repeat;
        background-position: 85%;
        position: relative;
        display: none;
    } 
    .more {
        width: 124px;
        height: 41px;
        background-color: #fff;
        position: absolute;
        content: '';
        right: -15px;    
    }
    .more span {
        font-size: 26px;
        margin-right: 0.5rem;
    }
    .more img {
        width: 18px;
    }
    .doubleA-youth {
        flex-direction: column;
        justify-content: space-between;
    }
    .doubleA {
        max-width: 100%;
        height: 284px;
        background-image: url(img/product-8.png);
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
    .youth {
        width: 100%;
        height: 284px;
        background-image: url(img/product-9.png);
        font-size: 2rem;
    }
}

.recommend {
    margin-top: -18rem;
    margin-bottom: 5rem;
}

.recommendList {
    display: flex;
    justify-content: space-between;
}

.recommendCard {
    width: 282px;
}

.card-img-top {
    width: 100%;
}

.card-body {
    border: 1px solid #DEE2E6;
    padding: 1rem;
}

.card-body p{
    font-family: 'roboto';
    font-weight: medium;
    padding-top: 1rem;
}

.lastUpdated {
    color: #707070;
}

@media (max-width:375px) {
    .h3-white-rec {
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        padding-top: 0rem;
        margin-bottom: 1rem;
    }
    .recommend {
        margin-top: -10.3rem;
        margin-bottom: 1.5rem;
    }
    .recommendList {
        flex-direction: column;
    }
    .recommendCard {
        width: 100%;
        margin-bottom: 1rem;
    }
}


.contact {
    background-color: rgba(170, 6, 1, 0.05);
}

.h3-black {
    font-size: 48px;
    color: #000;
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 1.5rem;
}

.contact .container {
    max-width: 816px;
    padding-bottom: 5.75rem;
}

.contact p {
    font-size: 20px;
    margin-bottom: 1.25rem;
}


.contact  .name, .number, .email, .commend  {
    width: 100%;
    margin-bottom: 1rem;
}

.contact .commend {
    height: 8.5rem;
}

.contact .name, .number, .email, .commend  {
    padding: 0.875rem 1rem;
}

.policy {
    margin-bottom: 2.625rem;
}

.submit {
    width: 180px;
    height: 54px;
    color: #fff;
    background-color: #AA0601;
    border: 0;
}

@media (max-width: 375px) {

    .contact .container {
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 3rem;
    }
    .h3-black {
        font-size: 1.5rem;
        color: #000;
        text-align: center;
        padding-top: 1.5rem;
        margin-bottom: 1rem;
    }
    .contact p {
        font-size: 1rem;
        margin-bottom: 1.25rem;
    }
    .submit {
        width: 136px;
        height: 36px;
    }
    .contact .name, .number, .email, .commend  {
        width: 100%;
        margin-bottom: 0.75rem;
    }
    .contact .commend {
        height: 6.25rem;
    }
    .contact .name, .number, .email, .commend  {
        padding: 0.625rem 0.625rem;
    }
    .policy {
        margin-bottom: 1.25rem;
    }
}



.footer {
    background-color: #AA0601;
    padding-top: 2.25rem;
    padding-bottom: 1.5rem;
}

.footer .container {
    padding-left: 37px;
    padding-right: 37px;
}

.footer-webNav {
    display: flex;
    align-items: center;
    height: 48px;
    margin-bottom: 1.5rem;
}

.footer-webNav li {
    padding-right: 3rem;
}

.footer-webNav a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.contactNav ul li {
    height: 3rem;
}

.icon-phone {
    width: 36px;
    margin-right: 1.44rem;
}

.icon-mail {
    width: 48px;
    margin-right: 0.75rem;
}

.contactNav span, .contactNav a{
    color: #fff;
    font-size: 2.25rem;
    text-decoration: none;
}

.socialIcon img {
    margin-left: 2rem;
}

.footerAllNav {
    border-bottom: 1px solid #fff;
    margin-bottom: 1.5rem;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright-left {
    display: flex;
    align-items: center;
}

.copyright-left p {
    margin-left: 2.735rem;
    color: #fff;    
}  

.copyright-right li {
    margin-left: 3.875rem;
}

.copyright-right a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

@media (max-width: 375px) {
    .footer {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .footer .container {
        padding-left: 11px;
        padding-right: 12px;
    }
    .footer-webNav {
        display: none;
    }
    .icon-phone {
        width: 16px;
        margin-right: 0.5rem;
    }
    .icon-mail {
        width: 20px;
        margin-right: 0.3rem;
    }
    .socialIcon img {
        width: 24px;
        margin-left: 1.5rem;
    }
    .contactNav span, .contactNav a{
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
    }
    .footerAllNav {
        margin-bottom: 1rem;
    }
    .copyright {
        flex-direction: column;
        font-size: 14px;
        text-align: left;
        background: url(img/logo.png) right bottom no-repeat;
        background-size: 46px 28px;

    }
    .copyright-left img {
        display: none;
    }
    .copyright-left p {
        margin-left: 0rem;
    }  
    .copyright-right ul {
        flex-direction: column;
        align-items: flex-start;
    }
    .copyright-right li {
        margin-left: 0rem;
        margin-top: 0.5rem;
    }
}

/* 設定值 */
.h-100 {
    height: 100%;
}
.d-flex {
    display: flex;
}
.flex-direction-c {
    flex-direction: column;
}
.flex-direction-r-reverse {
    flex-direction: row-reverse;
}
.flex-jcfe {
    justify-content: flex-end;
}
.flex-jcc {
    justify-content: center;
}
.flex-jcsb{
    justify-content: space-between;
}
.flex-aic {
    align-items: center;
}
.flex-aifs {
    align-items: flex-start;
}
.flex-aife {
    align-items: flex-end;
}

.flex-acfe {
    align-content: flex-end;
}

.bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-white {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
